body {
    background-image: url("../src/assets/images/bigbg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.bgbg {
    background-image: url("../src/assets/images/Pizza.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.header_bg {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%);
}